CompileFlags:
  Add: [-std=c23, -Wall, -Wextra, -I., -I/usr/include/SDL3]
---
If:
  PathMatch: .*\.h
CompileFlags:
  Add:
    - -x
    - c
    - -std=c23
    - -I.
    - -DLOG_IMPLEMENTATION
    - -DSTRING_VIEW_IMPLEMENTATION
    - -DINI_IMPLEMENTATION
    - -DSCF_IMPLEMENTATION
    - -DCVAR_IMPLEMENTATION
    - -DCVAR_LOAD_IMPLEMENTATION
    - -DFILE_WATCHER_IMPLEMENTATION
    - -DCARG_IMPLEMENTATION
    - -DARRAY_LIST_IMPLEMENTATION
    # Add new modules here
---
If:
  PathMatch: .*/index\.h$
Diagnostics:
  Suppress: unused-includes
---
If:
  PathMatch: .*/ngine/.*\.c$
CompileFlags:
  Add:
    - -DZOD_NGINE_IMPLEMENTATION
    - -I.
    - -I./ngine/internal
