CompileFlags:
  Add:
    # standard + warnings
    - -std=c23
    - -Wall
    - -Wextra
    # includes
    - -I.
    - -I/usr/include/SDL3
    - -Ilib/glad/include
    # modules implementation
    - -DINI_IMPLEMENTATION
    - -DSCF_IMPLEMENTATION
    - -DLOG_IMPLEMENTATION
    - -DCVAR_IMPLEMENTATION
    - -DCVAR_LOAD_IMPLEMENTATION
    - -DCARG_IMPLEMENTATION
    - -DFILE_WATCHER_IMPLEMENTATION
    - -DSTRING_VIEW_IMPLEMENTATION
    - -DARRAY_LIST_IMPLEMENTATION
    - -DIO_IMPLEMENTATION
    # ngine implementation
    - -DZOD_NGINE_IMPLEMENTATION
    - -DRENDER_BACKEND=RENDER_BACKEND_OPENGL
Index:
  Background: Build
Diagnostics:
  Suppress:
    - unused-includes
    - macro-redefined
