---
Checks:
  - '-*'
  - 'clang-analyzer-*'
  - 'bugprone-*'
  - 'performance-*'
  - 'readability-identifier-naming'
  - '-bugprone-easily-swappable-parameters'

ExtraArgs:
  - '-Wno-ignored-attributes'
WarningsAsErrors:
  - 'bugprone-*'

HeaderFilterRegex: ''

FormatStyle: file
---
