:/input.console
Grave   pressed     toggle_console
:/input.game
Grave   pressed     toggle_console
P       pressed     toggle_pause
R       pressed     hit_left_top
F       pressed     hit_left_mid
V       pressed     hit_left_bot
I       pressed     hit_right_top
K       pressed     hit_right_mid
M       pressed     hit_right_bot
Space   pressed     hit_space
