:/protocol 
version     2 ; protocol version

:/user
name        admin
email       admin@localhostxxxx
password    admin666__aaa
float_var   123.456F

:/client
name        user112222
email       user@localhostxxxx
password    user45522_222xxxxxx
